SF-to-Servicenow_template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_LA_salesforce_Authentication_name": {
            "type": "String"
        },
        "connections_keyvault_6_externalid": {
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_LA_salesforce_Authentication_name')]",
            "location": "eastus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "staticResults": {
                        "Get_client-id0": {
                            "status": "Failed",
                            "error": {
                                "code": "BadRequest",
                                "message": "error in client id"
                            }
                        },
                        "Get_client-secret0": {
                            "status": "Failed",
                            "error": {
                                "code": "BadRequest",
                                "message": "Unknown error"
                            }
                        },
                        "Get_password1": {
                            "status": "Failed",
                            "error": {
                                "code": "BadRequest",
                                "message": "Unknown error"
                            }
                        },
                        "Get_username2": {
                            "status": "Failed",
                            "error": {
                                "code": "BadRequest",
                                "message": "Unknown error"
                            }
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Get_client-id": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('client-id')}/value"
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Get_client-id0"
                                },
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Get_client-secret": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('client-secret')}/value"
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Get_client-secret0"
                                },
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Get_password": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('salesforce-password')}/value"
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Get_password1"
                                },
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Get_username": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('username')}/value"
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Get_username2"
                                },
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "message",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Scope": {
                            "actions": {
                                "Get_records": {
                                    "runAfter": {
                                        "Set_error_authentication_message": [
                                            "Skipped"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "headers": {
                                            "Authorization": "Bearer @{body('Salesforce_token')['access_token']}"
                                        },
                                        "method": "GET",
                                        "uri": "@{body('Salesforce_token')['instance_url']}/services/data/v41.0/sobjects/orderDetails__c/@{triggerBody()?['id']}"
                                    }
                                },
                                "Salesforce_token": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "method": "POST",
                                        "queries": {
                                            "client_id": "@body('Get_client-id')?['value']",
                                            "client_secret": "@body('Get_client-secret')?['value']",
                                            "grant_type": "password",
                                            "password": "@body('Get_password')?['value']",
                                            "username": "@body('Get_username')?['value']"
                                        },
                                        "uri": "https://login.salesforce.com/services/oauth2/token"
                                    }
                                },
                                "Set_error_authentication_message": {
                                    "runAfter": {
                                        "Salesforce_token": [
                                            "Failed"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "message",
                                        "value": "@{body('Salesforce_token')}"
                                    }
                                },
                                "Set_error_message": {
                                    "runAfter": {
                                        "Get_records": [
                                            "Skipped",
                                            "Failed"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "message",
                                        "value": "{\n  \"error\": 400,\n  \"message\": \"@{body('Get_records')[0]['message']}\"\n}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Set_client_id_error_message": [
                                    "Skipped"
                                ],
                                "Set_client_secret_error_message": [
                                    "Skipped"
                                ],
                                "Set_password_error_message": [
                                    "Skipped"
                                ],
                                "Set_username_error_message": [
                                    "Skipped"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Set_client_id_error_message": {
                            "runAfter": {
                                "Get_client-id": [
                                    "Failed"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "message",
                                "value": "{\n  \"code\": 400,\n  \"message\": \"Error in fetching client-id from key vault\"\n}"
                            }
                        },
                        "Set_client_secret_error_message": {
                            "runAfter": {
                                "Get_client-secret": [
                                    "Failed"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "message",
                                "value": "{\n  \"code\": 400,\n  \"message\": \"Error in fetching client-secret from key vault\"\n}"
                            }
                        },
                        "Set_password_error_message": {
                            "runAfter": {
                                "Get_password": [
                                    "Failed"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "message",
                                "value": "{\n  \"code\": 400,\n  \"message\": \"Error in fetching password from key vault\"\n}"
                            }
                        },
                        "Set_username_error_message": {
                            "runAfter": {
                                "Get_username": [
                                    "Failed"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "message",
                                "value": "{\n  \"code\": 400,\n  \"message\": \"Error in fetching username from key vault\"\n}"
                            }
                        },
                        "Success_or_Fail": {
                            "actions": {
                                "Set_success_message": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "message",
                                        "value": " @{body('Get_records')}"
                                    }
                                },
                                "Success_Response": {
                                    "runAfter": {
                                        "Set_success_message": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": "@body('Get_records')",
                                        "statusCode": 200
                                    }
                                }
                            },
                            "runAfter": {
                                "Scope": [
                                    "Succeeded",
                                    "Skipped"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Fail_Response": {
                                        "runAfter": {},
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": "@variables('message')",
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "statusCode": "@json(variables('message'))['code']"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@length(variables('message'))",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[parameters('connections_keyvault_6_externalid')]",
                                "connectionName": "keyvault-6",
                                "id": "/subscriptions/225be0b6-6988-4b65-8268-8fec4d0ff5f2/providers/Microsoft.Web/locations/eastus/managedApis/keyvault"
                            }
                        }
                    }
                }
            }
        }
    ]
}
